.paper {
    padding: 25px;
    width:60%;
    margin:auto;
    margin-top: 15%;
    
    overflow: hidden;

   }
.container{
   margin:0;
    height : 100vh;
    background: url("../../../public/img/loginBg.jpg") no-repeat center center/cover;
   
    overflow: hidden;

   }
.form{
    width:100%;
   }

.sc{
    border: 1px solid rgb(126,118,254);
    border-radius: 3px;
    padding: 5px;
   }
.btnContainer{
   display:'flex';
   justify-content:space-between;
   align-items:center;
   width:30%;
   margin:auto
   }
 
.link {
   text-decoration:none;
   }

   @media screen and (max-width: 480px) {
      .paper {
         margin-top: 40%;
      }
      .btnContainer {
         width:80%;
         margin-top: 10px;
      }
    
    }