.container {
    padding: 30px;
    width:40%;
    position:relative;
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex-direction : column;
    background: rgba(0,0,0,0.8);
    border-radius: 2%;
    backdrop-filter: blur(1vw) saturate(2);
    -webkit-backdrop-filter: blur(1vw) saturate(2);
    color:white;

   
   }
.btnContainer {

    width:100%;
    display : flex;
    justify-content: space-around;
    align-items: center;

   }
.form {
    margin : 15px 0;
   
   }
