.paper {
    padding: 10px;
    width : 350px;
    height : 200px;
    margin :  100px auto;
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex-direction : column;
   
   }
.form {
    margin : 15px 0;
   
   }

   .txtField {
    margin-top : 25px;
   
   }

   .bg {
    height : 100vh;
    background: url("../../../public/img/loginBg.jpg") no-repeat center center/cover;
    display : flex;
    justify-content: center;
    align-items: center;
   }